version: "3.9"

services:
  backend:
    container_name: chatbot-backend
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    container_name: chatbot-frontend
    build: ./frontend
    ports:
      - "5173:5173"
